# Amélioration de la planification de la maintenance et de la fiabilité grâce à l’intégration de l’IA et de l’analyse décisionnelle (BI)

# workshop section

# 1. Business understanding

In [542]:
import pandas as pd

file_path = r'/content/DATABASE WORKSHOP.xlsx'

df = pd.read_excel(file_path, header=3)
df.columns = df.iloc[7]
df_cleaned = df[8:].reset_index(drop=True)
df_cleaned.head(5)

/usr/local/lib/python3.11/dist-packages/openpyxl/worksheet/_reader.py:223: UserWarning: Cell J7149 is marked as a date but the serial value 4014526 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
/usr/local/lib/python3.11/dist-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

7,Sr.No,Eq status,Category: Activity/ Equipement,Type: Activity/ Equipement,Family: Activity/ Equipement,ID: Activity/ Equipment,Description,Operation,Work center / Performed By,WO / Notification N°,...,Completion,Remarks,WCR,Week N°,Month N°,Year,AREA,DateRef,Week_N,Duration time Format hh:mm:ss
0,NaN,NaN,Mobile EQ,Reach Stacker,RST,RST-01,"Description: \nDescription: \nOil, Fuel, C...",NaN,NaN,NaN,...,NaN,NaN,NaN,W 52,décembre,2021,Reach-Stacker 01,30/12/2021,W_52,1:00:00
1,NaN,NaN,Mobile EQ,Empty container handler,ECH,ECH-01,"Description: \nOil, Fuel, Coolant, and Greas...",NaN,NaN,NaN,...,NaN,NaN,NaN,W 52,décembre,2021,Empty Container Handler 01,30/12/2021,W_52,0:00:00
2,NaN,NaN,Mobile EQ,Empty container handler,ECH,ECH-02,"Description: \nOil, Fuel, Coolant, and Greas...",NaN,NaN,NaN,...,NaN,NaN,NaN,W 52,décembre,2021,Empty Container Handler 02,30/12/2021,W_52,0:00:00
3,NaN,NaN,Mobile EQ,Terminal Tractors,TT,TT-01,"Description: \nOil, Fuel, Coolant, and Greas...",NaN,NaN,NaN,...,NaN,NaN,NaN,W 52,décembre,2021,Terminal Tractors 01,30/12/2021,W_52,0:00:00
4,NaN,NaN,Mobile EQ,Terminal Tractors,TT,TT-02,"Description: \nOil, Fuel, Coolant, and Greas...",NaN,NaN,NaN,...,NaN,NaN,NaN,W 52,décembre,2021,Terminal Tractors 02,30/12/2021,W_52,0:00:00

In [543]:
df_cleaned.dtypes

7
Sr.No                             object
Eq status                         object
Category: Activity/ Equipement    object
Type: Activity/ Equipement        object
Family: Activity/ Equipement      object
ID: Activity/ Equipment           object
Description                       object
Operation                         object
Work center / Performed By        object
WO / Notification N°              object
Status                            object
Outage\nType                      object
Technician Name                   object
Started\nDate/Time                object
Ended \nDate/Time                 object
Duration                          object
No. of \nTechnician               object
Total \nMan Hours                 object
Supervisor                        object
Shift                             object
Completion                        object
Remarks                           object
WCR                               object
Week N°                           object
Month N°                          object
Year                              object
AREA                              object
DateRef                           object
Week_N                            object
Duration time Format hh:mm:ss     object
dtype: object

In [544]:
rows, cols = df_cleaned.shape
print(f"📊 Nombre de lignes : {rows}")
print(f"📊 Nombre de colonnes : {cols}")

📊 Nombre de lignes : 7209
📊 Nombre de colonnes : 30

In [545]:
df_cleaned = df_cleaned.drop(columns=["Sr.No"])
df_cleaned .columns

Index(['Eq status', 'Category: Activity/ Equipement',
       'Type: Activity/ Equipement', 'Family: Activity/ Equipement',
       'ID: Activity/ Equipment ', 'Description', 'Operation ',
       'Work center / Performed By', 'WO / Notification N°', 'Status',
       'Outage\nType', 'Technician Name', 'Started\nDate/Time',
       'Ended \nDate/Time', 'Duration', 'No. of \nTechnician',
       'Total \nMan Hours', 'Supervisor', 'Shift', 'Completion', 'Remarks',
       'WCR', 'Week N°', 'Month N°', 'Year', 'AREA', 'DateRef', 'Week_N',
       'Duration time Format hh:mm:ss'],
      dtype='object', name=7)

In [546]:
nan_percentage = (df_cleaned.isna().sum() / len(df_cleaned)) * 100
print(nan_percentage)

7
Eq status                         25.412679
Category: Activity/ Equipement     0.000000
Type: Activity/ Equipement         0.000000
Family: Activity/ Equipement       0.000000
ID: Activity/ Equipment           54.182272
Description                        0.097101
Operation                         54.917464
Work center / Performed By        54.015814
WO / Notification N°              56.554307
Status                             0.721321
Outage\nType                       2.913025
Technician Name                    2.288806
Started\nDate/Time                 0.000000
Ended \nDate/Time                  0.346789
Duration                           0.000000
No. of \nTechnician                5.368290
Total \nMan Hours                  0.360660
Supervisor                        15.896796
Shift                             19.350811
Completion                        67.512831
Remarks                           98.918019
WCR                               99.459010
Week N°                            0.027743
Month N°                           0.000000
Year                               0.000000
AREA                               0.000000
DateRef                            0.000000
Week_N                             0.000000
Duration time Format hh:mm:ss      0.346789
dtype: float64

#2.Data processing

In [547]:
df_cleaned = df_cleaned.drop(columns=["WCR", "Remarks"])

df_cleaned .columns
nan_percentage = (df_cleaned.isna().sum() / len(df_cleaned)) * 100
print(nan_percentage)

7
Eq status                         25.412679
Category: Activity/ Equipement     0.000000
Type: Activity/ Equipement         0.000000
Family: Activity/ Equipement       0.000000
ID: Activity/ Equipment           54.182272
Description                        0.097101
Operation                         54.917464
Work center / Performed By        54.015814
WO / Notification N°              56.554307
Status                             0.721321
Outage\nType                       2.913025
Technician Name                    2.288806
Started\nDate/Time                 0.000000
Ended \nDate/Time                  0.346789
Duration                           0.000000
No. of \nTechnician                5.368290
Total \nMan Hours                  0.360660
Supervisor                        15.896796
Shift                             19.350811
Completion                        67.512831
Week N°                            0.027743
Month N°                           0.000000
Year                               0.000000
AREA                               0.000000
DateRef                            0.000000
Week_N                             0.000000
Duration time Format hh:mm:ss      0.346789
dtype: float64

In [548]:
colonnes_a_traiter = [
    "Description", "Work center / Performed By", "Status", 'Outage\nType', 'Technician Name', "Ended \nDate/Time",
    'No. of \nTechnician', "Week N°", "Total \nMan Hours", "Duration time Format hh:mm:ss" , 'Eq status','Supervisor'
]

df_cleaned = df_cleaned.dropna(subset=colonnes_a_traiter)

nan_percentage = (df_cleaned.isna().sum() / len(df_cleaned)) * 100
print(nan_percentage)

7
Eq status                          0.000000
Category: Activity/ Equipement     0.000000
Type: Activity/ Equipement         0.000000
Family: Activity/ Equipement       0.000000
ID: Activity/ Equipment           60.080025
Description                        0.000000
Operation                         15.512465
Work center / Performed By         0.000000
WO / Notification N°              38.658049
Status                             0.000000
Outage\nType                       0.000000
Technician Name                    0.000000
Started\nDate/Time                 0.000000
Ended \nDate/Time                  0.000000
Duration                           0.000000
No. of \nTechnician                0.000000
Total \nMan Hours                  0.000000
Supervisor                         0.000000
Shift                              0.000000
Completion                        61.280394
Week N°                            0.000000
Month N°                           0.000000
Year                               0.000000
AREA                               0.000000
DateRef                            0.000000
Week_N                             0.000000
Duration time Format hh:mm:ss      0.000000
dtype: float64

In [549]:

print(" Nombre de valeurs uniques par colonne :\n")
for col in df_cleaned.columns:
    valeurs_uniques = df_cleaned[col].nunique(dropna=True)
    print(f"✅ {col}: {valeurs_uniques} valeurs uniques")

 Nombre de valeurs uniques par colonne :

✅ Eq status: 11 valeurs uniques
✅ Category: Activity/ Equipement: 4 valeurs uniques
✅ Type: Activity/ Equipement: 14 valeurs uniques
✅ Family: Activity/ Equipement: 17 valeurs uniques
✅ ID: Activity/ Equipment : 80 valeurs uniques
✅ Description: 1235 valeurs uniques
✅ Operation : 652 valeurs uniques
✅ Work center / Performed By: 250 valeurs uniques
✅ WO / Notification N°: 1636 valeurs uniques
✅ Status: 5 valeurs uniques
✅ Outage
Type: 23 valeurs uniques
✅ Technician Name: 1123 valeurs uniques
✅ Started
Date/Time: 2574 valeurs uniques
✅ Ended
Date/Time: 2605 valeurs uniques
✅ Duration: 143 valeurs uniques
✅ No. of
Technician: 10 valeurs uniques
✅ Total
Man Hours: 296 valeurs uniques
✅ Supervisor: 20 valeurs uniques
✅ Shift: 6 valeurs uniques
✅ Completion: 9 valeurs uniques
✅ Week N°: 52 valeurs uniques
✅ Month N°: 12 valeurs uniques
✅ Year: 3 valeurs uniques
✅ AREA: 56 valeurs uniques
✅ DateRef: 488 valeurs uniques
✅ Week_N: 52 valeurs uniques
✅ Duration time Format hh:mm:ss: 141 valeurs uniques

In [550]:
print("Eq status:", df_cleaned["Eq status"].nunique(), "valeurs uniques")
print(df_cleaned["Eq status"].unique())

Eq status: 11 valeurs uniques
['Out of Order' 'Other' 'Available' 'Welding' 'Out Of Order' 'Support'
 'Out Of Service' 'Maintenance' 'Notification' 'Project' 'Out of order']

In [551]:
pourcentage_modalites = df_cleaned["Eq status"].value_counts(normalize=True) * 100
pourcentage_modalites

Eq status
Other             56.571253
Available         35.149277
Notification       2.708526
Out of Order       1.969837
Out Of Order       1.169591
Welding            0.646353
Maintenance        0.615574
Support            0.554017
Out Of Service     0.400123
Project            0.123115
Out of order       0.092336
Name: proportion, dtype: float64

In [552]:
import pandas as pd

df_cleaned["Eq status"] = df_cleaned["Eq status"].astype(str).str.strip().str.lower()

mapping = {
    "out of order": "out of order",
    "out of service": "out of service",
}

df_cleaned["Eq status"] = df_cleaned["Eq status"].replace(mapping)

valeurs_a_supprimer = ["notification", "welding", "maintenance", "support", "project", "0", "nan"]

df_cleaned = df_cleaned[~df_cleaned["Eq status"].isin(valeurs_a_supprimer)]

valeurs_a_garder = ["out of order", "other", "available", "out of service"]

df_cleaned = df_cleaned[df_cleaned["Eq status"].isin(valeurs_a_garder)]


print("Eq status:", df_cleaned["Eq status"].nunique(), "valeurs uniques")
print(df_cleaned["Eq status"].unique())

Eq status: 4 valeurs uniques
['out of order' 'other' 'available' 'out of service']

In [553]:
print("Category: Activity/ Equipement:", df_cleaned['Category: Activity/ Equipement'].nunique(), "valeurs uniques")
print(df_cleaned["Category: Activity/ Equipement"].unique())

Category: Activity/ Equipement: 4 valeurs uniques
['Mobile EQ' '-' 'Stationnary EQ' 'Crane EQ']

In [554]:
df_cleaned["Category: Activity/ Equipement"] = df_cleaned["Category: Activity/ Equipement"].replace("-", "Inconnu")
print(df_cleaned["Category: Activity/ Equipement"].unique())

['Mobile EQ' 'Inconnu' 'Stationnary EQ' 'Crane EQ']

In [555]:
print("Type: Activity/ Equipement:", df_cleaned['Type: Activity/ Equipement'].nunique(), "valeurs uniques")
print(df_cleaned['Type: Activity/ Equipement'].unique())

Type: Activity/ Equipement: 14 valeurs uniques
['Empty container handler' '-' 'SHORE TENSION' 'FOKRLIFT'
 'Terminal Tractors' 'TRAILER' 'Reach Stacker' 'Ship To Shore'
 'Air_Compressor' 'PINING STATION' 'Rubber Tyred Gantry Crane' 'MANLIFT'
 'Over Height Frame' 'Cotton Bale Clamps']

In [556]:
pourcentage_modalites = df_cleaned['Type: Activity/ Equipement'].value_counts(normalize=True) * 100
pourcentage_modalites

Type: Activity/ Equipement
-                            61.846352
SHORE TENSION                13.428018
Terminal Tractors            11.878631
TRAILER                       3.098773
Empty container handler       3.066495
FOKRLIFT                      3.066495
Reach Stacker                 3.034216
Air_Compressor                0.161394
PINING STATION                0.129116
MANLIFT                       0.096837
Over Height Frame             0.096837
Ship To Shore                 0.032279
Rubber Tyred Gantry Crane     0.032279
Cotton Bale Clamps            0.032279
Name: proportion, dtype: float64

In [557]:
# Remplacer "-" par "Inconnu" dans la colonne "Type: Activity/ Equipement"
df_cleaned["Type: Activity/ Equipement"] = df_cleaned["Type: Activity/ Equipement"].replace("-", "Inconnu")
print(df_cleaned["Type: Activity/ Equipement"].unique())

['Empty container handler' 'Inconnu' 'SHORE TENSION' 'FOKRLIFT'
 'Terminal Tractors' 'TRAILER' 'Reach Stacker' 'Ship To Shore'
 'Air_Compressor' 'PINING STATION' 'Rubber Tyred Gantry Crane' 'MANLIFT'
 'Over Height Frame' 'Cotton Bale Clamps']

# Imputation colonne Family: Activity/ Equipement:

In [558]:
print("Family: Activity/ Equipement:", df_cleaned['Family: Activity/ Equipement'].nunique(), "valeurs uniques")
print(df_cleaned['Family: Activity/ Equipement'].unique())

# Remplacer "-" par "Inconnu" dans la colonne "Family: Activity/ Equipement"
df_cleaned['Family: Activity/ Equipement'] = df_cleaned['Family: Activity/ Equipement'].replace("-", "Inconnu")
print(df_cleaned['Family: Activity/ Equipement'].unique())

Family: Activity/ Equipement: 17 valeurs uniques
['ECH' '-' 'ST' 'FL16T' 'FL03T' 'TT' 'TR' 'RST' 'FL33T' 'STS' 'KSR-01'
 'PST' 'RTG' 'ML' 'OHF' 'SP' 'CBC']
['ECH' 'Inconnu' 'ST' 'FL16T' 'FL03T' 'TT' 'TR' 'RST' 'FL33T' 'STS'
 'KSR-01' 'PST' 'RTG' 'ML' 'OHF' 'SP' 'CBC']

In [559]:
columns_to_check = ['ID: Activity/ Equipment ', 'Status', 'Outage\nType',
                    'Technician Name', 'Supervisor', 'Shift', 'Completion']

for col in columns_to_check:
    print(f"{col} : {df_cleaned[col].nunique()} valeurs uniques")
    print(df_cleaned[col].unique())
    print("-" * 50)  # Séparateur pour une meilleure lisibilité

ID: Activity/ Equipment  : 77 valeurs uniques
['ECH-02' nan 'ST-03' 'FL16T-01' 'FL03T-01' 'TT-02' 'TR-01' 'TR-02'
 'TT-01' 'TT-05' 'TT-06' 'TT-08' 'TT-03' 'TT-04' 'TR-06' 'TR-08' 'TR-07'
 'TR-09' 'TR-10' 'TR-15' 'TR-12' 'TR-11' 'TR-13' 'TT-12' 'TR-14' 'ST-01'
 'ST-04' 'TR-17' 'TR-18' 'TR-19' 'TR-20' 'TT-14' 'RST-01' 'ECH-01' 'TT-13'
 'FL33T-01' 'FL03T-02' 'TT-09' 'TT-11' 'FL03T-03' 'TR-03' 'TT-10'
 'ST-02 / ST-04' 'TT-07' 'ST' 'ST-02' 'TT' "STS compressor's Box "
 'KSR-01' 'TR-05' 'VHT01' 'VHT02' 'TR-04' 'KAE-01' 'PST-01' 'PST-02' 'TR'
 'RTG03' 'TR-16' 'ML-01' 'OHF-01' 'SP-01' 'CBC' 'Workshop' 'Activity'
 'Support' 'ST-50' 'ST-49'
 'TT-01, TT-02, TT-03, TT-04, TT-05, TT-06, TT-07, TT-08, TT-09, TT-10, TT-11, TT-12, TT-13, TT-14'
 'ECH-01, ECH-02, FL03T-01, FL03T-02, FL03T-03, FL16T-01, FL33T-01, ML-01, RST-01, ST-01, ST-02, ST-03, ST-04'
 'SPDTR-01, RT-01, RT-02, SPT-01, GN-01, GN-02, TR-01, TR-02, TR-03, TR-04, TR-05, TR-06, TR-07, TR-08, TR-09, TR-10, TR-11, TR-12, TR-13, TR-14, TR-15, TR-16, TR-17, TR-18, TR-19, TR-20'
 'ST-01, ST-03' 'All Equipments' 'Meeting'
 'ECH-01, ECH-02, FL03T-01, FL03T-02, FL03T-03, FL16T-01, FL33T-01, ML-01, RST-01'
 'ECH-01, ECH-02, FL03T-01, FL03T-02, FL03T-03, FL16T-01, FL33T-01, ML-01, RST-01,TT-01, TT-02, TT-03, TT-04, TT-05, TT-06, TT-07, TT-08, TT-09, TT-10, TT-11, TT-12, TT-13, TT-14'
 'TT-01, TT-02, TT-03, TT-04, TT-05, TT-06, TT-07, TT-08, TT-09, TT-10, TT-11, TT-12, TT-13, TT-14, TR-01, TR-02, TR-03, TR-04, TR-05, TR-06, TR-07, TR-08, TR-09, TR-10, TR-11, TR-12, TR-13, TR-14, TR-15, TR-16, TR-17, TR-18, TR-19, TR-20'
 'ECH-02, FL03T-01, FL03T-02, FL03T-03, FL16T-01, FL33T-01, ML-01']
--------------------------------------------------
Status : 5 valeurs uniques
['Closed' 'Active' 'closed' 'active' 'ACTIVE']
--------------------------------------------------
Outage
Type : 23 valeurs uniques
['IMP' 'Daily Check' 'ACC' 'CM' 'PM' 'INS' 'Support' 'PM50H' 'Other' 'OPS'
 'PRJ' 'PRD' 'PM overdue' 'Training' 'Notif' 'CMP' 'BDN' 'Activity' 'DPCK'
 'Supp' 'OOO' 'CMU' 'WLD']
--------------------------------------------------
Technician Name : 1087 valeurs uniques
['Mahmoud / Abdel Moutaleb CHBIH'
 'Saed Bou Aly El Yedali / El Hassen Aboubacry Diop'
 'Maatalla / Khoumany / Hinchy / Mahmoud / Bakary' ...
 '(100273) Abdellahi Yarba Samba / (100044) Mohamed Maatalla BILALI / (100339) Saed Bou Aly El Yedali / Mohamed Salem'
 '(100044) Mohamed Maatalla BILALI / Mohamed salem'
 '(100273) Abdellahi Yarba Samba / (100339) Saed Bou Aly El Yedali / Mohamed salem']
--------------------------------------------------
Supervisor : 20 valeurs uniques
['Abderahmane Sidaty Ely' 'El Verrah Mohamedou Jiddou' 'Mohameden Ethman'
 'Abderahim El Hinchy' ' El Verrah Mohamedou Jiddou'
 'Mohamed Salem Abdel Wedoud Hmoudi' 'Mohamed Matalla Bilal'
 'Jiddou Yaghoub Salem' 'Abdel Moutaleb CHBIH' 'Mohamed Maatalla BILALI'
 '(100261) El Verrah Mohamedou Jiddou ' '(100043) Abdel Moutaleb CHBIH'
 '(100261) El Verrah Mohamedou Jiddou' '(100043) Abdel Moutaleb CHBIH '
 '(100249) Abderahmane Sidaty Ely ' '(100044) Mohamed Maatalla BILALI'
 '(100216) Mohamed Salem Abdel Wedoud Hmoudi'
 '(100216) Mohamed Salem Abdel Wedoud Hmoudi '
 '(100044) Mohamed Maatalla BILALI ' '(100249) Abderahmane Sidaty Ely']
--------------------------------------------------
Shift : 6 valeurs uniques
['A' 'B' 'N' 'C' 'D' 'E']
--------------------------------------------------
Completion : 9 valeurs uniques
[nan 'TECO' 'Box' 'CRTD' 'REL' 'Notif' 'box' 'CNF' 'PCNF' 'tECO']
--------------------------------------------------

In [560]:
columns_to_check = ['Completion']

for col in columns_to_check:
    print(f"{col} : {df_cleaned[col].nunique()} valeurs uniques")
    print(df_cleaned[col].unique())
    print("-" * 50)

Completion : 9 valeurs uniques
[nan 'TECO' 'Box' 'CRTD' 'REL' 'Notif' 'box' 'CNF' 'PCNF' 'tECO']
--------------------------------------------------

imputation Completion

In [561]:
import pandas as pd

modalites = ['TECO', 'Box', 'CRTD', 'REL', 'Notif', 'box', 'CNF', 'PCNF', 'tECO']
df_cleaned['Completion'] = df_cleaned['Completion'].fillna(pd.Series(modalites).sample(n=1, replace=True).iloc[0])
for col in columns_to_check:
    print(f"{col} : {df_cleaned[col].nunique()} valeurs uniques")
    print(df_cleaned[col].unique())
    print("-" * 50)

Completion : 9 valeurs uniques
['box' 'TECO' 'Box' 'CRTD' 'REL' 'Notif' 'CNF' 'PCNF' 'tECO']
--------------------------------------------------

In [562]:

import re

def clean_equipment(value):
    if isinstance(value, str):
        value = value.lower().strip().replace(" / ", ", ").replace("  ", " ")

        if re.match(r"^tr-\d{2}$", value):
            return "tr-series"
        value = value.replace("sts compressor's box", "sts compressor box")
        value = value.replace("all equipments", "all equipment")

        return value
    return value
df_cleaned['ID: Activity/ Equipment '] = df_cleaned['ID: Activity/ Equipment '].apply(clean_equipment)


df_cleaned['ID: Activity/ Equipment '] = df_cleaned['ID: Activity/ Equipment '].fillna("Inconnu")
print(df_cleaned['ID: Activity/ Equipment '].unique())

['ech-02' 'Inconnu' 'st-03' 'fl16t-01' 'fl03t-01' 'tt-02' 'tr-series'
 'tt-01' 'tt-05' 'tt-06' 'tt-08' 'tt-03' 'tt-04' 'tt-12' 'st-01' 'st-04'
 'tt-14' 'rst-01' 'ech-01' 'tt-13' 'fl33t-01' 'fl03t-02' 'tt-09' 'tt-11'
 'fl03t-03' 'tt-10' 'st-02, st-04' 'tt-07' 'st' 'st-02' 'tt'
 'sts compressor box' 'ksr-01' 'vht01' 'vht02' 'kae-01' 'pst-01' 'pst-02'
 'tr' 'rtg03' 'ml-01' 'ohf-01' 'sp-01' 'cbc' 'workshop' 'activity'
 'support' 'st-50' 'st-49'
 'tt-01, tt-02, tt-03, tt-04, tt-05, tt-06, tt-07, tt-08, tt-09, tt-10, tt-11, tt-12, tt-13, tt-14'
 'ech-01, ech-02, fl03t-01, fl03t-02, fl03t-03, fl16t-01, fl33t-01, ml-01, rst-01, st-01, st-02, st-03, st-04'
 'spdtr-01, rt-01, rt-02, spt-01, gn-01, gn-02, tr-01, tr-02, tr-03, tr-04, tr-05, tr-06, tr-07, tr-08, tr-09, tr-10, tr-11, tr-12, tr-13, tr-14, tr-15, tr-16, tr-17, tr-18, tr-19, tr-20'
 'st-01, st-03' 'all equipment' 'meeting'
 'ech-01, ech-02, fl03t-01, fl03t-02, fl03t-03, fl16t-01, fl33t-01, ml-01, rst-01'
 'ech-01, ech-02, fl03t-01, fl03t-02, fl03t-03, fl16t-01, fl33t-01, ml-01, rst-01,tt-01, tt-02, tt-03, tt-04, tt-05, tt-06, tt-07, tt-08, tt-09, tt-10, tt-11, tt-12, tt-13, tt-14'
 'tt-01, tt-02, tt-03, tt-04, tt-05, tt-06, tt-07, tt-08, tt-09, tt-10, tt-11, tt-12, tt-13, tt-14, tr-01, tr-02, tr-03, tr-04, tr-05, tr-06, tr-07, tr-08, tr-09, tr-10, tr-11, tr-12, tr-13, tr-14, tr-15, tr-16, tr-17, tr-18, tr-19, tr-20'
 'ech-02, fl03t-01, fl03t-02, fl03t-03, fl16t-01, fl33t-01, ml-01']

In [563]:
def clean_status(value):
    if isinstance(value, str):
        value = value.lower().strip()

        if value == 'closed':
            return 'closed'
        elif value == 'active':
            return 'active'

        return value
    return value
df_cleaned['Status'] = df_cleaned['Status'].apply(clean_status)


print("Valeurs uniques après réduction dans 'Status' :", df_cleaned["Status"].nunique())
print(df_cleaned["Status"].unique())

Valeurs uniques après réduction dans 'Status' : 2
['closed' 'active']

In [564]:
df_cleaned = df_cleaned.drop(columns=['WO / Notification N°'])

In [565]:
df_cleaned

7,Eq status,Category: Activity/ Equipement,Type: Activity/ Equipement,Family: Activity/ Equipement,ID: Activity/ Equipment,Description,Operation,Work center / Performed By,Status,Outage\nType,...,Supervisor,Shift,Completion,Week N°,Month N°,Year,AREA,DateRef,Week_N,Duration time Format hh:mm:ss
1846,out of order,Mobile EQ,Empty container handler,ECH,ech-02,Greasing system installing,NaN,Mechanical,closed,IMP,...,Abderahmane Sidaty Ely,A,box,W 4,janvier,2023,Empty Container Handler 02,24/01/2023,W_4,5:00:00
1848,out of order,Mobile EQ,Empty container handler,ECH,ech-02,Second Greasing system installing,NaN,Mechanical,active,IMP,...,El Verrah Mohamedou Jiddou,B,box,W 4,janvier,2023,Empty Container Handler 02,24/01/2023,W_4,1:20:00
1849,other,Inconnu,Inconnu,Inconnu,Inconnu,Daily Visual Check,NaN,Mechanical,closed,Daily Check,...,El Verrah Mohamedou Jiddou,B,box,W 4,janvier,2023,-,24/01/2023,W_4,1:10:00
1850,other,Inconnu,Inconnu,Inconnu,Inconnu,we started up all the machines at least 5 min ...,NaN,Electrical,closed,Daily Check,...,El Verrah Mohamedou Jiddou,B,box,W 4,janvier,2023,-,24/01/2023,W_4,1:00:00
1854,out of order,Mobile EQ,Empty container handler,ECH,ech-02,Greasing system installing,NaN,Mechanical,closed,IMP,...,Abderahmane Sidaty Ely,A,box,W 4,janvier,2023,Empty Container Handler 02,25/01/2023,W_4,3:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7196,available,Inconnu,Inconnu,Inconnu,"ech-01, ech-02, fl03t-01, fl03t-02, fl03t-03, ...",Description: Monitoring / Operations: / Eq IQ...,0,Mechanical,closed,OPS,...,(100249) Abderahmane Sidaty Ely,D,box,W 10,mars,2025,-,09/03/2025,W_10,07:30:00
7199,available,Inconnu,Inconnu,Inconnu,"ech-01, ech-02, fl03t-01, fl03t-02, fl03t-03, ...",Description: Monitoring / Operations: / Eq IQ...,0,Mechanical,closed,OPS,...,(100249) Abderahmane Sidaty Ely,D,box,W 11,mars,2025,-,10/03/2025,W_11,12:00:00
7200,out of order,Mobile EQ,Reach Stacker,RST,rst-01,Description: Lifting issue / Operations: New p...,New pump testing,Mechanical,active,BDN,...,(100249) Abderahmane Sidaty Ely,D,box,W 11,mars,2025,Reach-Stacker 01,10/03/2025,W_11,05:00:00
7204,out of order,Mobile EQ,Reach Stacker,RST,rst-01,Description: Lifting issue / Operations: Servo...,Servo block cleaning,Mechanical,active,BDN,...,(100249) Abderahmane Sidaty Ely,D,box,W 11,mars,2025,Reach-Stacker 01,11/03/2025,W_11,07:00:00
7205,available,Inconnu,Inconnu,Inconnu,"ech-01, ech-02, fl03t-01, fl03t-02, fl03t-03, ...",Description: Running hour's taken / Operations...,0,Mechanical,closed,Other,...,(100249) Abderahmane Sidaty Ely,D,box,W 11,mars,2025,-,11/03/2025,W_11,01:00:00

In [566]:
df_cleaned = df_cleaned.drop(columns=['Operation '])

In [567]:
nan_percentage = (df_cleaned.isna().sum() / len(df_cleaned)) * 100
print(nan_percentage)

7
Eq status                         0.0
Category: Activity/ Equipement    0.0
Type: Activity/ Equipement        0.0
Family: Activity/ Equipement      0.0
ID: Activity/ Equipment           0.0
Description                       0.0
Work center / Performed By        0.0
Status                            0.0
Outage\nType                      0.0
Technician Name                   0.0
Started\nDate/Time                0.0
Ended \nDate/Time                 0.0
Duration                          0.0
No. of \nTechnician               0.0
Total \nMan Hours                 0.0
Supervisor                        0.0
Shift                             0.0
Completion                        0.0
Week N°                           0.0
Month N°                          0.0
Year                              0.0
AREA                              0.0
DateRef                           0.0
Week_N                            0.0
Duration time Format hh:mm:ss     0.0
dtype: float64

In [568]:
df_cleaned.shape

(3098, 25)